.section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3em;
    .title{
        color: var(--text-color);
        align-items: center;
        margin-bottom: .25em;
        font-size: 70px
    }
    .info{
        color: var(--text-light);
        font-size: 1em;
        letter-spacing: 1px;
        line-height: 1.3em;
        margin-bottom: 1.25em;
    }
    .col{
        width: 50%;
    }
}

.section.hero{
    .topography{
        padding-right: 2em;
    }
    .gallery{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.75vw;
      
    }
}